<h1><%= @user.name %>'s Profile</h1>

<% if @user.profile_picture? %>
  <%= image_tag @user.profile_picture.url, alt: "Profile Image" %>
<% else %>
  <p>No profile picture uploaded.</p>
<% end %>

<p><%= @user.bio %></p>

<%= link_to 'Edit Profile', edit_user_registration_path %>
