<h1>Categories</h1>

<% if @categories.any? %>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No categories available.</p>
<% end %>
